body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about_me {
  max-width: 100%;
  margin-right: 100px;
  margin-left: 100px;
  text-align: left;
  padding-left: 12px;
  padding-right: 12px;
}

.about_technologies {
  display: flex;
}

.technology {
  padding-right: 25px;
}

a {
  text-decoration: none;
  color: #111;
  padding: 15px;
}

.collapsible-div {
  border: 1px solid #111;
  margin-left: 100px;
  margin-right: 100px;
}

.project-title:hover {
  cursor: pointer;
}