@import url('https://fonts.googleapis.com/css2?family=Inter&family=PT+Mono&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #16202f;
  color: #a8b2d1;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #a8b2d1;
}

svg {
  color: #ff0048;
  font-size: 18px;
}

.whole-app-container {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.nav-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}

.nav-bar {
  padding: 10px;
  font-family: 'PT Mono', monospace;
  font-size: 14px;
}

.nav-item:before {
  content: '>';
  padding: 6px;
  color: #ff0048;
}

.nav-item:hover {
  color: #ff0048;
}

.header-content {
  padding: 0px;
  min-height: 100vh;
  height: 100vh;
  margin-top: 200px;
  text-align: left;
}

.header-hello {
  color: #ff0048;
  font-family: 'PT Mono', monospace;
  font-weight: 600;
}

.header-name {
  color: #ccd6f6;
  font-size: 70px;
  font-family: 'Inter', sans-serif;
  margin: 5px 0 0;
}

.header-intro {
  color: #a8b2d1;
  margin: 8px 0 20px;
  font-size: 70px;
  font-family: 'Inter', sans-serif;
}

.CTA-button {
  border: 1px solid #ff0048;
  color: #ff0048;
  padding: 10px;
  font-family: 'PT Mono', monospace;
  font-weight: 600;
}

.CTA-button:hover {
  background-color: rgb(255, 0, 72, 0.1);
}

.section-container {
  text-align: left;
  margin-bottom: 400px;
}

.header {
  color: #ccd6f6;
  font-size: 34px;
  text-align: center;
}

.header-1 {
  color: #ccd6f6;
  font-size: 24px;
  text-align: left;
}

.header-2 {
  color: #a8b2d1;
  font-size: 20px;
  font-weight: 800;
}

.about-content {
  font-size: 18px;
  margin-left: 20px;
}

.about-tech-container {
  margin-left: 20px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.about-tech-header {
  font-size: 18px;
}

.tech {
  margin-top: 0;
  font-size: 14px;
  font-family: 'PT Mono', monospace;
}

.tech:before {
  content: '>';
  font-family: 'PT Mono', monospace;
  color: #ff0048;
  padding: 5px;
}

.projects-container {
  display: flex;
  flex-direction: column;
}

.project-description {
  background-color: #1f2e45;
  max-width: 400px;
  padding: 15px;
  border-radius: 2px;
}

.project-tech {
  font-family: 'PT Mono', monospace;
  font-size: 14px;
}

.project-link {
  margin-right: 10px;
}

.blog-grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  justify-content: center;
}

.blog-grid-item {
  padding-bottom: 15px;
  border-radius: 2px;
  overflow: hidden;
  background-color: #1f2e45;
  padding: 15px;
}

.contact-container {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  margin: 60px;
}

.email-button {
  width: 200px;
  text-align: center;
  margin: 0 auto;
}