@import url('https://fonts.googleapis.com/css2?family=Inter&family=PT+Mono&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #16202f;
  color: #a8b2d1;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #a8b2d1;
}

svg {
  font-size: 18px;
}

a:hover,
svg:hover {
  color: #ff0048;
}

.location-link {
  color: #ff0048;
}

.whole-app-container {
  max-width: 1000px;
  padding: 0 35px;
  margin: 0 auto;
}

.nav-container {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  font-family: 'PT Mono', monospace;
  font-size: 14px;
}

.nav-item {
  padding-right: 20px;
}

.socials-container {
  position: fixed;
  bottom: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  color: #a8b2d1;
}

.socials-container:after {
  content: "";
  display: block;
  width: 1px;
  height: 100px;
  margin: 0px auto;
  background-color: #a8b2d1;
}

.side-item {
  padding-top: 8px;
  padding-bottom: 8px;
}

.hero-content {
  min-height: 100vh;
  margin-top: 250px;
  text-align: left;
}

.hero-hello {
  color: #ff0048;
  font-family: 'PT Mono', monospace;
  font-weight: 600;
}

.hero-name {
  color: #ccd6f6;
  margin: 5px 0 0;
}

.hero-intro {
  color: #a8b2d1;
  margin: 8px 0 20px;
}

.hero-name,
.hero-intro {
  font-size: 70px;
  font-family: 'Inter', sans-serif;
}

.CTA-button {
  border: 1px solid #ff0048;
  color: #ff0048;
  padding: 10px;
  font-family: 'PT Mono', monospace;
  font-weight: 600;
}

.CTA-button:hover {
  background-color: rgb(255, 0, 72, 0.1);
}

.section-container {
  text-align: left;
  margin-bottom: 250px;
}

.header-1 {
  text-align: left;
  color: #ccd6f6;
  font-size: 24px;
}

.header-1:after {
  content: "";
  display: inline-block;
  width: 300px;
  height: 1px;
  margin: 5px 15px;
  background-color: #ff0048;
}

.header-2 {
  color: #a8b2d1;
  font-size: 20px;
  font-weight: 800;
}

.header-3 {
  color: #ccd6f6;
  font-size: 34px;
  text-align: center;
}

.header-4 {
  color: #a8b2d1;
  font-size: 16px;
  text-align: left;
  font-weight: 600;
}

.about-content {
  font-size: 18px;
}

.tech-whole-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  border: .8px solid #ff0048;
  border-radius: 2px;
  max-width: 100%;
  padding: 15px;
}

.tech-container {
  display: flex;
}

.tech-header {
  text-align: left;
  font-size: 18px;
}

.tech {
  padding-right: 10px;
  font-size: 14px;
  font-family: 'PT Mono', monospace;
}

.tech-comma:after {
  content: ",";
  color: #ff0048;
}

.featured-project {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.featured-project:nth-child(odd) {
  /* left */
  margin-right: auto;
}

.featured-project:nth-child(even) {
  /* right */
  margin-left: auto;
  text-align: right;
}

.featured-description {
  background-color: rgba(78, 114, 168, 0.1);
  max-width: 400px;
  padding: 15px;
  border-radius: 2px;
}

.blog-grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  justify-content: center;
}

.blog-grid-item {
  padding-bottom: 15px;
  border-radius: 2px;
  overflow: hidden;
  background-color: #1f2e45;
  padding: 15px;
}

.contact-container {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  margin: 60px;
}

.email-button {
  width: 200px;
  text-align: center;
  margin: 0 auto;
}